# Project exclude paths
/cloud-alibaba-config-nacos-client-3377/target/
/cloud-alibaba-consumer-83/target/
/cloud-alibaba-nacos-order84/target/
/cloud-alibaba-nacos-provider-9003/target/
/cloud-alibaba-nacos-provider-9004/target/
/cloud-alibaba-nacos-sentienl-openfig-order-85/target/
/cloud-alibaba-provider-payment-9001/target/
/cloud-alibaba-provider-payment-9002/target/
/cloud-alibaba-Sentinel-8804/target/
/cloud-commoms/target/
/cloud-config-3355/target/
/cloud-config-3366/target/
/cloud-configcenter-3344/target/
/cloud-Dashboard-9001/target/
/cloud-eureka-server-7001/target/
/cloud-eureka-server-7002/target/
/cloud-Gateway-9527/target/
/cloud-order-80/target/
/cloud-order-openfegin/target/
/cloud-payment-8001/target/
/cloud-payment-8002/target/
/cloud-payment-8003/target/
/cloud-paymentconsul-8006/target/
/cloud-paymentconsul-order-80/target/
/cloud-streamConsumer-8802/target/
/cloud-streamConsumer-8803/target/
/cloud-streamMQprovider-8001/target/
/cloudalibaba-sentinel-service-8401/target/